*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
app/.gitignore
/app/src/androidTest/java/com/harisewak/downloadmanager/ExampleInstrumentedTest.kt
/app/src/test/java/com/harisewak/downloadmanager/ExampleUnitTest.kt
/downloader/.gitignore
/downloader/src/androidTest/java/com/harisewak/downloader/ExampleInstrumentedTest.kt
/downloader/src/test/java/com/harisewak/downloader/ExampleUnitTest.kt
